<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
          <h1>My Tasks</h1>
          {% for task in create_tasks.tasks.all %}
          <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is Completed</th>
            </tr>
            </thead>

            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ value|yesno:"yes,no" }}</td>

            </tr>
            {% empty %}
            <p>You have no tasks</p>
            {% endfor %}
            </tbody>
          </table>



        </div>
      </main>
</body>
</html>
